---
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.svg" />
    <SEO title="test" />
  </head>
  <body>
    <slot />
  </body>
</html>
